/* .datepicker,.datepicker *{
  box-sizing: border-box;
}
.datepicker .output{
  border-radius: 3px;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 0 0 3px #eee;
  background: radial-gradient(#eee, #ddd, #ccc);
} */
table{
  border-collapse: collapse;
}
.datepicker{
  display: block;
}
.hide{
  display: none;
}