
table{
  border-collapse: collapse;
}
.datepicker{
  display: block;
  position: absolute;
}
.hide{
  display: none;
}
.prev-month,.next-month{
  color: #999;
}
#current-picker{
  background-color: blue;
}